.container {
    max-width: 960px;
    margin: auto;
    padding: 0 16px;
  }
  
  .button {
    margin-bottom: 0.5rem;
    font-size: 1rem;
    color: rgba(33, 37, 41, 0.7);
    cursor: pointer;
  }
  
  .button:hover {
    color: #212529;
  }
  
  .heading {
    font-size: 2.25rem;
    font-weight: bold;
  }
  
  .time {
    margin-top: 0.5rem;
    display: block;
  }
  