.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 0 1rem;
  }
  
  .title {
    font-size: 2.25rem;
    font-weight: bold;
    margin-bottom: 2rem;
  }
  
  .bold {
    font-weight: bold;
  }
  
  .infoContainer {
    margin-bottom: 2rem;
  }
  
  .infoValue {
    font-weight: normal;
  }
  
  .list {
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
  }
  
  .listItem {
    margin-bottom: 1rem;
  }
  
  .userItem {
    padding: 1rem;
    border: 1px solid #e2e8f0;
    border-radius: 0.375rem;
    margin-bottom: 1rem;
  }
  
  .usersList {
    display: flex;
    flex-direction: column;
  }
  